{% extends 'reunions/base_nohero.html' %}
{% load markdown_deux_tags %}

{% block navbar_reports_active %}active{% endblock %}

{% block content %}

  <ul>
    <li><a href="#stats">Stats</a></li>
    <li><a href="#rsvps">RSVPs</a></li>
    <li><a href="#notyet">Not yet RSVP'd</a></li>
  </ul>

  <hr>

  <h2 id="stats">Stats</h2>

  <h3>Alumni</h3>

  {% with reunion.alumni_counts as alumni %}
    <ul>
      <li>Yes: {{ alumni.yes }}</li>
      <li>Maybe: {{ alumni.maybe }}</li>
      <li>No: {{ alumni.no }}</li>
    </ul>
  {% endwith %}

  <h3>Guests</h3>

  {% with reunion.guest_counts as guests %}
    <ul>
      <li>Yes: {{ guests.yes }}</li>
      <li>Maybe: {{ guests.maybe }}</li>
      <li>No: {{ guests.no }}</li>
    </ul>
  {% endwith %}

  <hr>

  <h2 id="rsvps">RSVPs</h2>

  <h3>Yes</h3>

  {% include 'reunions/_reunion_rsvp_table.html' with rsvps=reunion.rsvp_set.yes %}

  <h3>Maybe</h3>

  {% include 'reunions/_reunion_rsvp_table.html' with rsvps=reunion.rsvp_set.maybe %}

  <h3>No</h3>

  {% include 'reunions/_reunion_rsvp_table.html' with rsvps=reunion.rsvp_set.no %}

  <hr>

  <h2 id="notyet">Not yet RSVP'd</h2>

  <table class="table table-striped table-bordered table-reports" style="font-size: small">
    <thead>
      <tr>
        <th>Alumni</th>
      </tr>
    </thead>
    <tbody>
      {% for person in alumni_not_rsvpd %}
        <tr>
          <td>
            <a href="{{ person.get_absolute_url }}">{{ person.display_name }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
