{% extends 'reunions/base_nohero.html' %}
{% load markdown_deux_tags %}

{% block navbar_reports_active %}active{% endblock %}

{% block content %}

  <ul>
    <li><a href="#stats">Stats</a></li>
    <li><a href="#rsvps">RSVPs</a></li>
    <li><a href="#notyet">Not yet RSVP'd</a></li>
  </ul>

  <hr>

  <h2 id="stats">Stats</h2>

  <h3>Alumni</h3>

  {% with reunion.alumni_counts as alumni %}
    <ul>
      <li>Yes: {{ alumni.yes }}</li>
      <li>Maybe: {{ alumni.maybe }}</li>
      <li>No: {{ alumni.no }}</li>
    </ul>
  {% endwith %}

  <h3>Guests</h3>

  {% with reunion.guest_counts as guests %}
    <ul>
      <li>Yes: {{ guests.yes }}</li>
      <li>Maybe: {{ guests.maybe }}</li>
      <li>No: {{ guests.no }}</li>
    </ul>
  {% endwith %}

  <hr>

  <h2 id="rsvps">RSVPs</h2>

  <h3>Yes</h3>

  {% include 'reunions/_reunion_rsvp_table.html' with rsvps=reunion.rsvp_set.yes %}

  <h3>Maybe</h3>

  {% include 'reunions/_reunion_rsvp_table.html' with rsvps=reunion.rsvp_set.maybe %}

  <h3>No</h3>

  {% include 'reunions/_reunion_rsvp_table.html' with rsvps=reunion.rsvp_set.no %}

  <hr>

  <h2 id="notyet">Not yet RSVP'd</h2>

  <h3>Not yet contacted</h3>

  <ul>
    {% for person in alumni_not_rsvpd %}
      {% if person.note_set.count == 0 %}
        <li>
          <a href="{{ person.get_absolute_url }}">
            {{ person.display_name }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h3>Contacted (most recent at bottom)</h3>

  <ul>
    {% for note in notes %}
      <li>
        <a href="{{ note.person.get_absolute_url }}">
          {{ note.person.display_name }}
        </a>
        &mdash;
        {% with person=note.created_by.person %}
          {% if person %}{{ person }}{% else %}{{ user }}{% endif %}
          {% if note.contacted %}
            {{ note.get_contacted_display.lower }}
          {% else %}
            left a note
          {% endif %}
          {{ note.created|timesince }} ago ({{ note.created }})
        {% endwith %}
      </li>
    {% endfor %}
  </ul>

{% endblock %}
